  </div>

  <div id="footer">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-10">
      <TMPL_INCLUDE NAME="customfooter.tpl">
    </div>
    <div class="col-md-2 col-xs-2 text-right">
      <span id="languages"></span>
    </div>
  </div>

<!-- Constants -->
<script type="text/JavaScript" src="<TMPL_VAR NAME="SCRIPTNAME">/psgi.js"></script>
</body>
</html>

