<ul class="category <TMPL_VAR NAME="class">">
 <li class="catname">
  <span><TMPL_VAR NAME="catname"></span>
  <TMPL_IF NAME="apps">
   <ul>
    <TMPL_VAR NAME="apps">
   </ul>
  </TMPL_IF>
  <TMPL_VAR NAME="subcat">
 </li>
</ul>
