/* CSS for bootstrap theme */

html,
body {
  height: 100%;
  background: radial-gradient(circle at 50% 0% ,  #fff 0%, #ddd 100%) no-repeat scroll 0% 0% #ddd;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 20px 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  padding-top: 10px;
  overflow: hidden;
}

#header img {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 20px;
}

.panel, .navbar-default {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.9);
  background-image: none;
}

.login, .password, .confirm {
  text-align: center;
  padding: 20px;
}

div.form {
  margin: 0 auto;
  max-width: 330px;
}

div.actions {
  margin: 10px 0 0 0;
}

div.actions a {
  margin-top: 10px;
}

.buttons {
  text-align: center;
  margin: 10px 0 0 0;
  cursor: pointer;
}
/* Override bootstrap btn style */
.btn {
  white-space: normal;
}

.btn span.glyphicon {
  padding-right: 8px;
}

/* Make active tab more visible */
li.ui-state-active {
  background-color: rgb(250,250,250);
  background-color: rgba(250,250,250,0.9);
}

#appslist, #password, #loginHistory, #logout  {
  margin-top: 20px;
}

div.application {
  height:50px;
  overflow:hidden;
}

div.application a, div.application a:hover {
  text-decoration:none;
  display: block;
}
/*
div.application img.applogo {
  width:32px;
  height:32px;
  float:left;
}
*/
div.application h4.appname {
  margin-top:5px;
}

div.application p.appdesc {
  color:#aaa;
  font-style:italic;
}

p.notifCheck label {
  margin-left: 5px;
  margin-top: 3px;
  display: inline-block;
}

img.langicon {
  cursor: pointer;
}

/* OpenID Connect */
div.openidconnect button {
  height: 60px;
  width: 160px;
  margin-bottom: 5px;
}

div.openidconnect button img {
  height: 30px;
}

div.oidc_consent_message > ul {
  text-align: left;
  list-style: circle;
}

/* Responsive styles */
@media (min-width: 768px) {
  div.application {
    height: 80px;
  }
  div.application h4.appname {
    margin:0;
  }
  #wrap {
    margin: 0 auto -60px;
  }
  #footer {
    padding-top: 20px;
    height: 60px;
  }
}

.hiddenFrame {
  border: none;
  display: hidden;
  margin: 0
}

.noborder {
  border: none;
}

.max {
  width: 100%;
}

.link {
  cursor: pointer;
}
